*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    font-size: 10px;
}

body
{
    font-size: 1.8rem;
    background: rgb(20, 20, 20);
    font-family: 'Maven Pro', sans-serif;
}

.box 
{
    min-height: 100vh;
    height: auto;
    width: 100wh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    &::after
    {
        content: '';
        height: 100%;
        width: 100%;
        z-index: 1;
        background: linear-gradient(to bottom , rgb(0, 183, 255), rgb(0, 255, 191));
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        clip-path: circle(20% at 3rem 3rem);
    }

    &::before
    {
        content: '';
        height: 100%;
        width: 100%;
        z-index: 2;
        background: linear-gradient(60deg, rgb(111, 4, 252), rgb(255, 0, 149));
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        clip-path: circle(30% at 100% 100%);
    }

    .card
    {
        height: 35rem;
        width: 25rem;
        padding: 2rem;
        background: rgba(99, 98, 98, 0.418);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.103);
        z-index: 3;
        border-top: 1px solid rgba(255, 255, 255, 0.377);
        border-left: 1px solid rgba(255, 255, 255, 0.397);
        backdrop-filter: blur(0.5rem);
        border-radius: 1rem;
        color: white;
        cursor: pointer;
        overflow: hidden;
        margin: 2rem;
        .num 
        {
            font-size: 10rem;
            font-weight: 800;
            color: rgba(0, 0, 0, 0.178);
            position: absolute;
            top: 0;
            right: 2rem;
        }

        .title
        {
            margin: 5rem 0 2rem 0;
            font-size: 2.7rem;
            font-weight: 800;
            text-align: center;
        }
        
        .text
        {
            font-weight: 300;
            text-align: center;
        }
    }
}

